{% extends "layout/basic.html" %}
{% block content %}
    <table>
        <tr>
            <td><b>UserId</b></td>
            <td><b>Id</b></td>
            <td><b>Title</b></td>
            <td><b>Completed</b></td>
        </tr>
        {% for item in data %}
            <tr>
                <td>{{ item.userId }}</td>
                <td><a href="{% url 'objectInfo' param=item.id %}">{{ item.id }}</a></td>
                <td>{{ item.title }}</td>
                <td>{{ item.completed }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}