{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="{% static '_header.css' %}">
    <link rel="stylesheet" href="{% static '_footer.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a href="{% url 'getResponse' %}" class="nav-item">Home</a>
            <a href="#" class="nav-item">Contact</a>
            <a href="#" class="nav-item">About</a>
            <a href="{% url 'login' %}" class="nav-button">Log In</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

        <div class="footer">
        <div class="contain">
        <div class="col">
          <h1>Компания</h1>
          <ul>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Главная</a></li>
          </ul>
        </div>
        <div class="col">
          <h1>Поддержка</h1>
          <ul>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div class="col social">
          <h1>Социальные сети</h1>
          <ul>
            <li><a href="#"><img src="../../static/images/insta.jpg" width="32" style="width: 32px;"></a></li>
            <li><a href="#"><img src="../../static/images/tg.jpg" width="32" style="width: 32px;"></a></li>
          </ul>
        </div>
      <div class="clearfix"></div>
      </div>
      <p class="prava">© 2023 Bekarys. Все права защищены.</p>
      </div>
</body>
</html>