<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
    {% block header %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '_header.css' %}">
    <link rel="stylesheet" href="{% static '_footer.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
</head>
<body>
    <center><h1>Лист задач</h1></center>

    <header class="header">
        <nav class="nav">
            <a href="{% url 'bboard:index' %}" class="nav-item">Home</a>
            <a href="{% url 'bboard:contacts' %}" class="nav-item">Contact</a>
            <a href="{% url 'bboard:about' %}" class="nav-item">About</a>
            <a href="{% url 'bboard:add' %}" class="nav-item">Add</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>